* { margin:0; padding:0; }
body { font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica","Arial","Verdana","sans-serif"; font-size:16px;}
html, body, .player { height: 100%; }

.player:-webkit-full-screen { width: 100%; cursor:url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==); }
.player:-moz-full-screen { width: 100%; cursor:url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==); }
.player:full-screen { width: 100%; cursor:url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==); }
.player {	
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.video-frame {
	box-sizing: border-box;
	padding-bottom: 50px;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.video-frame .comments{
	position: absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	transform:translateZ(0);
	pointer-events: none;
}

.player:-webkit-full-screen .video-frame { padding-bottom: 0px; }
.player:-moz-full-screen .video-frame { padding-bottom: 0px; }
.player:full-screen .video-frame{ padding-bottom: 0px; }

.video {
	width: 100%;
	height: 100%;
	background: #000000;
}
.controller {
	position: absolute;
	bottom: 0px;
	left:0;
	right:0;
	background: #24272A;
	height: 50px;
}
.controller .loading-icon {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	top: -30px;
	right: 10px;
}
.player.loading .controller .loading-icon {
	display: block;
}
.player:-webkit-full-screen .controller {
	-webkit-transform:translateY(50px);
	-webkit-transition: -webkit-transform 0.3s ease;
}
.player:-moz-full-screen .controller {
	-moz-transform:translateY(50px);
	-moz-transition: -moz-transform 0.3s ease;
}
.player:full-screen .controller {
	transform:translateY(50px);
	transition: transform 0.3s ease;
}
.player.active:-webkit-full-screen {
	cursor: default;
}
.player.active:-moz-full-screen {
	cursor: default;
}
.player.active:full-screen {
	cursor: default;
}
.player.active:-webkit-full-screen .controller,
.player:-webkit-full-screen .controller:hover {
	-webkit-transform:translateY(0);
	cursor: default;
}
.player.active:-moz-full-screen .controller,
.player:-moz-full-screen .controller:hover {
	-moz-transform:translateY(0);
	cursor: default;
}
.player.active:full-screen .controller
.player:full-screen .controller:hover {
	transform:translateY(0);
	cursor: default;
}
.player.active:-webkit-full-screen .controller .progress .progress_anchor:after,
.player:-webkit-full-screen .controller:hover .progress .progress_anchor:after {
	height:12px;
}
.player.active:-moz-full-screen .controller .progress .progress_anchor:after,
.player:-moz-full-screen .controller:hover .progress .progress_anchor:after {
	height:12px;
}
.player.active:full-screen .controller .progress .progress_anchor:after,
.player:full-screen .controller:hover .progress .progress_anchor:after {
	height:12px;
}

.player:-webkit-full-screen .controller .progress .progress_anchor:after {
	height:4px;
}
.player:-moz-full-screen .controller .progress .progress_anchor:after {
	height:4px;
}
.player:full-screen .controller .progress .progress_anchor:after {
	height:4px;
}
.controller .progress {
	position: absolute;
	top:0px;
	left:0;
	right:0;
	border-right: 4px solid #181A1D;
	border-left: 8px solid #DF6558;
	height: 4px;
	background: #181A1D;
	z-index:1;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
}
.controller .progress:after {
	content:"";
	display: block;
	position: absolute;
	top:0px;
	left:0;
	right:0;
	bottom:-10px;
	height: 10px;
}
.controller .progress .anchor {
	height: 4px;
	background: #DF6558;
	position: absolute;
	top:0;left:0;
}
.controller .progress .anchor:after {
	content:"";
	display: block;
	width: 12px;
	background: #DF6558;
	position: absolute;
	right:-4px;
	top: 50%;
	height: 12px;
	box-shadow: 0 0 2px rgba(0,0,0, 0.4);
	border-radius: 12px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.controller .progress .anchor.buffered_anchor {	
	position: relative;
	background: rgba(255,255,255,0.1);
}
.controller .progress .anchor.buffered_anchor:after {
	box-shadow: none;
	height: 4px;
	width: 4px;
	border-radius: 0;
	background: rgba(255,255,255,0.1);
}
.controller .right {
	height: 50px;
	position: absolute;
	top:0;
	left:10px;
	right:10px;
	pointer-events: none;
}
.controller .play,
.controller .volume,
.controller .time,
.controller .hd,
.controller .allscreen,
.controller .normalscreen,
.controller .comments-btn,
.controller .fullscreen {
	padding-top:4px;
	height: 46px;
	line-height: 50px;
	text-align: center;
	color: #eeeeee;
	float:left;
	text-shadow:0 0 2px rgba(0,0,0,0.5);
	pointer-events: auto;
}
.controller .hd,
.controller .allscreen,
.controller .normalscreen,
.controller .comments-btn,
.controller .fullscreen {
	float:right;
}
.controller .play {
	width: 36px;
	padding-left: 10px;
	cursor: pointer;
}
.controller .play:after {
	font-family: "FontAwesome";
	content: "\\f04c";
}
.controller .play.paused:after {
	content: "\\f04b";
}
.controller .volume {
	min-width: 30px;
	position: relative;
	overflow: hidden;
	-webkit-transition: min-width 0.3s ease 0.5s;
	-moz-transition: min-width 0.3s ease 0.5s;
	transition: min-width 0.3s ease 0.5s;
}
.controller .volume:hover {
	min-width: 128px;
}
.controller .volume:before {
	font-family: "FontAwesome";
	content: "\\f028";
	width: 36px;
	display: block;
}
.controller .volume .progress {
	width: 70px;
	top: 27px;
	left: 40px;
}
.controller .time {
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}
.controller .time .current {
	color: #DF6558;
}
.controller .fullscreen,
.controller .allscreen,
.controller .comments-btn,
.controller .normalscreen {
	width: 36px;
	cursor: pointer;
}
.controller .comments-btn {
	margin-right: -15px;
	display: none;
}
.player.has-comments .controller .comments-btn {
	display: block;
}
.controller .comments-btn:before {
	font-family: "FontAwesome";
	content: "\\f075";
}
.controller .comments-btn.enable:before {
	color: #DF6558;
}
.controller .normalscreen {
	display: none;
}
.player:-webkit-full-screen .controller .fullscreen,
.player:-webkit-full-screen .controller .allscreen {
	display: none;
}
.player:-webkit-full-screen .controller .normalscreen,
.player.allscreen .controller .normalscreen {
	display: block;
}
.player.allscreen .controller .allscreen {
	display: none;
}
.controller .fullscreen:before {
	font-family: "FontAwesome";
	content: "\\f0b2";
}
.controller .allscreen:before {
	font-family: "FontAwesome";
	content: "\\f065";
}
.controller .normalscreen:before {
	font-family: "FontAwesome";
	content: "\\f066";
}
.controller .hd {
	white-space:nowrap;
	overflow: hidden;
	margin-right: 10px;
	text-align: right;
}
.controller .hd:hover li {
	max-width: 300px;
}
.controller .hd li {
	display: inline-block;
	max-width: 0px;
	-webkit-transition: max-width 0.8s ease 0.3s;
	-moz-transition: max-width 0.8s ease 0.3s;
	transition: max-width 0.8s ease 0.3s;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.controller .hd li:before {
	content: "";
	display: inline-block;
	width:20px;
}
.controller .hd li:before {
	content: "";
	display: inline-block;
	width:20px;
}
.controller .hd li.curr {
	max-width: 300px;
	cursor: default;
	color: #DF6558;
}
.controller .hd li.curr:after {
	content: "";
	display: block;
	position: absolute;
	width:4px;
	height:4px;
	border-radius: 50%;
	background: #ffffff;
	left: 12px;
	top: 23px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease 0.3s;
	-moz-transition: opacity 0.5s ease 0.3s;
	transition: opacity 0.5s ease 0.3s;
}
